<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>v-model</title>
    </head>
    <body>
        <div id="app">
            <div>
                <h1>文本</h1>
                <p>注意：所显示的值只依赖于绑定的数据，不再关心初始化时插入的value</p>
                <input type="text" v-model="mText" placeholder="edit me" />
                <p>Text is: {{ mText }}</p>
            </div>
            <hr />

            <div>
                <h1>多行文本</h1>
                <textarea v-model="mMultiMsg" cols="30" rows="10">这里的字不会被显示</textarea>
                <br />
                <span>Multiline message is:</span>
                <p style="white-space: pre-line;">{{ mMultiMsg }}</p>
            </div>
            <hr />

            <div>
                <h1>单选按钮</h1>
                <label><input type="radio" value="One" v-model="picked" />One</label>
                <br />
                <label><input type="radio" value="Two" v-model="picked" />Two</label>
                <br />
                <span>Picked: {{ picked }}</span>
            </div>
            <hr />

            <div>
                <h1>复选框</h1>
                <label>张麻子<input type="checkbox" v-model="rzdf" value="张麻子" id=""/></label>
                <label>师爷<input type="checkbox" v-model="rzdf" value="师爷" id=""/></label>
                <label>黄老爷<input type="checkbox" v-model="rzdf" value="黄老爷" id=""/></label>
                <br />
                <span>天选之子：{{ rzdf }}</span>
            </div>
            <hr />

            <div>
                <h1>下拉框（单选）</h1>
                <select v-model="selected">
                    <option disabled value="">请选择</option>
                    <option value="张麻子">张麻子</option>
                    <option value="师爷">师爷</option>
                    <option value="黄老爷">黄老爷</option>
                </select>
                <br />
                <span>天选之子：{{ selected }}</span>
            </div>

            <div>
                <h1>下拉框（多选）</h1>
                <p>注意要按住Ctrl键多选</p>
                <select multiple v-model="multiSelected">
                    <option value="张麻子">张麻子</option>
                    <option value="师爷">师爷</option>
                    <option value="黄老爷">黄老爷</option>
                </select>
                <br />
                <span>天选之子：{{ multiSelected }}</span>
            </div>
        </div>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"
            integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY="
            crossorigin="anonymous"
        ></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    mText: '',
                    mMultiMsg: '',
                    picked: '',
                    rzdf: [],
                    selected: '',
                    multiSelected: []
                }
            })
        </script>
    </body>
</html>
