<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>表单绑定v-model</title>
    </head>
    <body>
        <div id="app">
            <div>
                <h1>文本</h1>
                <p>注意：所显示的值只依赖于绑定的数据，不再关心初始化时插入的value</p>
                <input type="text" v-model="mText" placeholder="edit me" />
                <p>Text is: {{ mText }}</p>
            </div>
            <hr />

            <div>
                <h1>多行文本</h1>
                <textarea v-model="mMultiMsg" cols="30" rows="10">这里的字不会被显示</textarea>
                <br />
                <span>Multiline message is:</span>
                <p style="white-space: pre-line;">{{ mMultiMsg }}</p>
            </div>
            <hr />

            <div>
                <h1>单选按钮</h1>
                <!-- 绑定了value才能设置默认选中 -->
                <label><input type="radio" :value="vOne" v-model="picked" />One</label>
                <br />
                <label><input type="radio" :value="vTwo" v-model="picked" />Two</label>
                <br />
                <span>Picked: {{ picked }}</span>
            </div>
            <hr />

            <div>
                <h1>复选框</h1>
                <label>
                    张麻子
                    <input type="checkbox" v-model="rzdf" value="张麻子" />
                </label>
                <label>
                    师爷
                    <input type="checkbox" v-model="rzdf" value="师爷" />
                </label>
                <label>
                    黄老爷
                    <input type="checkbox" v-model="rzdf" value="黄老爷" />
                </label>
                <br />
                <span>天选之子：{{ rzdf }}</span>
                <br /><br />
                <h2>复选框v-bind</h2>
                <label>
                    动态绑定的复选框：
                    <input type="checkbox" v-model="toggle" :true-value="value1" :false-value="value2" />
                </label>
                <br />
                {{ toggle }} <br />
                选中了：{{ toggle === value1 }} <br />
                没选中：{{ toggle === value2 }}
            </div>
            <hr />

            <div>
                <h1>下拉框（单选）</h1>
                <select v-model="selected">
                    <option disabled value="">请选择</option>
                    <option value="张麻子">张麻子</option>
                    <option value="师爷">师爷</option>
                    <option value="黄老爷">黄老爷</option>
                    <option :value="{num:111}">111</option>
                </select>
                <br />
                <span>天选之子：{{ typeof selected }}---{{ selected }}</span>
            </div>
            <hr />

            <div>
                <h1>下拉框（多选）</h1>
                <p>注意要按住Ctrl键多选</p>
                <select multiple v-model="multiSelected">
                    <option value="张麻子">张麻子</option>
                    <option value="师爷">师爷</option>
                    <option value="黄老爷">黄老爷</option>
                </select>
                <br />
                <span>天选之子：{{ multiSelected }}</span>
            </div>
            <hr />

            <div>
                <h1>.lazy</h1>
                <p>不会实时渲染的文本（敲回车才会渲染）：{{ lazyInput }}</p>
                <input type="text" v-model.lazy="lazyInput" />
            </div>

            <div>
                <h1>.number</h1>
                <p>
                    自动转换为number类型：{{ typeof numInput }}---{{ numInput }} <br />
                    Tips:转换规则遵循 parseInt 和 parseFloat
                </p>
                <input type="text" v-model.number="numInput" />
            </div>

            <div>
                <h1>.trim</h1>
                <p>去掉输入字符串的首尾空格：{{ trimInput }}</p>
                <p>length: {{ trimInput.length }}</p>

                <label>没有trim: <input type="text" v-model="trimInput"/></label> <br />
                <label>有trim: <input type="text" v-model.trim="trimInput"/></label>
            </div>
        </div>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"
            integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY="
            crossorigin="anonymous"
        ></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    mText: '',
                    mMultiMsg: '',

                    // 单选框的动态绑定v-bind
                    picked: '',
                    vOne: 'one picked',
                    vTwo: 'two picked',

                    rzdf: [],

                    // 复选框的动态绑定v-bind
                    toggle: '',
                    value1: `OMG, I'm selected!`,
                    value2: 'No one',

                    selected: '',
                    multiSelected: [],
                    lazyInput: '',
                    numInput: '',
                    trimInput: ''
                }
            })
        </script>
    </body>
</html>
